body {
  font-family: Garamond;
}
.menu-layout {
  text-align: center;
  max-width: 740px;
  margin: auto;
}
.header {
  font-style: italic;
}

#menu-table {
  text-align: left;
  background-color: #f2f2f2;
  width: 100%;
}

tr:nth-child(even) {
  background-color: gainsboro;
}

th {
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
